

.email-app-container {
    flex-direction: row;
    border: 1px solid rgb(88, 87, 87);
    margin: 0 10px 0 0;
    height: 50rem;
    width: 85rem;
    background-color: rgb(240, 238, 238);
}

.flex {
    display: flex;
}

.email-app {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 50rem;
    width: 85rem;
    padding: 20px;
}

.box-bar {
    text-align: left;
    flex-direction: column;
    border-right: 1px solid rgb(88, 87, 87);
    background-color: rgb(226, 226, 226);
    width: 15em;
}

.email-list {
    flex: 1;
    height: 100%;
    background-color: rgb(136, 133, 133);
}

.email-deatails {
    flex: 1;
    width: 35rem;
    height: 100%;
    border-left:1px solid rgb(88, 87, 87);
}


.email-list ul, li{
    list-style-type: none;
    border-bottom: 1px solid rgb(88, 87, 87);
    padding: 0 5px;
    text-align: left;
    margin: 0;
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    cursor: pointer;
}

.email-preview a {
    text-decoration: none;
    color: black;
}

.email-preview li {
    height: 3rem;
    margin: 0;
    background-color: rgb(197, 197, 197);
}

.email-preview h4, h6 {
    margin: 0;
}

.email-preview h5 {
    margin: 5px;
}

.email-preview:hover {
    opacity: .5;
}

.email-preview h4{
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    width: 35rem;
}

.empty-list {
    flex: 1;
    width: 35rem;
    height: 100%;
    
}


.box-element {
    padding: 20px;
    border-bottom: 1px solid rgb(88, 87, 87);
    cursor: pointer;
}


.box-element:hover {
    opacity: .5;
    background-color: rgb(107, 104, 104)
}


.email-filter input {
    align-content: center;
    width: 33rem;
    margin-right: 25px;
    border-radius: 30px;
}


.email-bar {
    background-color: rgb(230, 228, 228); 
    width: 100%;
    padding: 10px 0 5px 0;
    text-align: right;
    border: 1px solid rgb(226, 226, 226);
    justify-content: space-between;
    border: 1px solid rgb(88, 87, 87);
    border-bottom: none;
}

.email-bar h4 {
    padding: 0 0 0 10px;
    font-size: 30px;
    margin: 0;
}

:focus {
    outline: none;
}

.first-row {
    justify-content: space-between;
}

.email-compose {
    flex: 1;
    width: 35rem;
    height: 100%;
    border-left: 1px solid rgb(88, 87, 87);
    flex-direction: column;
}