

.email-app-container {
    flex-direction: column;
    border: 1px solid rgb(88, 87, 87);
    margin: 0;
    height: 50rem;
    background-color: rgb(240, 238, 238);
}

.flex {
    display: flex;
}

.email-app {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 50rem;
    width: 90%;
    padding: 20px;
}

.box-bar {
    text-align: left;
    flex-direction: row;
    border-bottom: 1px solid rgb(88, 87, 87);
    background-color: rgb(226, 226, 226);
    height: min-content;
}

.email-deatails {
    flex: 1;
    padding: 10px;
}


.email-list li{
    box-sizing: content-box;
    height: 5rem;
    list-style-type: none;
    border-bottom: 1px solid rgb(88, 87, 87);
    text-align: left;
    margin: 0;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-right: none;
    width: -webkit-fill-available;
}

.email-preview a {
    text-decoration: none;
    color: black;
}

.email-preview li {
    height: 3rem;
    margin: 0;
    background-color: rgb(197, 197, 197);
    border-bottom: 1px solid rgb(88, 87, 87);
    width: 88vw;
}

.email-preview h4, h6 {
    margin: 0;
}

.email-preview h5 {
    margin: 5px;
    word-wrap: break-word;
}

.email-preview:hover {
    opacity: .5;
}

.email-preview h4{
    margin: 0;
}

ul {
    flex: 1;
    padding: 0;
    margin: 0;
}

.empty-list {
    width: 36vw;
    height: 100%;  
}

.box-element {
    padding: 5px;
    cursor: pointer;
}


.box-element:hover {
    opacity: .5;
    background-color: rgb(107, 104, 104)
}


.email-filter input {
    align-content: center;
    width: 95%;
    padding: 3px;
    margin: 0 auto;
    border-radius: 30px;
    font-size: 1em;
}


.email-bar {
    background-color: rgb(230, 228, 228); 
    padding: 5px 0;
    border: 1px solid rgb(226, 226, 226);
    border: 1px solid rgb(88, 87, 87);
    border-bottom: none;
    flex-direction: column;
}

.email-bar h4 {
    font-size: 30px;
    margin: 0;
    text-align: left;
}

:focus {
    outline: none;
}

.first-row {
    justify-content: space-between;
}

.email-compose {
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.compose-info {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 0;
    width: 88vw;
} 

.compose-info input {
    width: 90%;
    font-size: 1em;
    padding: .2em;
}

.compose-text-box{
    height: 70%;
    justify-content: center;
    padding-top: .5em;
}

.compose-text-box textarea {
    width: 90%;
    border: none;

}


.box-bar-width h4{
    padding-left: 5px;
}


.email-box {
    flex: 1;
}

.send-button {
    margin: 0 auto;
    margin-top: 10px;
    width: max-content;
    height: max-content;
}

.email-bar-head{
    display: none;
    margin: 0 auto;
}

.email-bar-func{
    padding: 5px;
}

.email-bar-func button{
    margin-bottom: 5px;
}


.email-bar-width {
    width: 100%;
}

.email-list {
    border-right: none;
    width: 90vw;
}

.compose-text-button {
    flex-direction: row;
    padding: 10px;
}

@media (min-width:800px){
    .box-bar {
        text-align: left;
        flex-direction: column;
        border-right: 1px solid rgb(88, 87, 87);
        background-color: rgb(226, 226, 226);
        width: 10rem;
        height: 100%;
    }
    .email-bar-head {
        display: block;
        margin: 0;
    }
    .email-app-container {
        flex-direction: row;
        border: 1px solid rgb(88, 87, 87);
        margin: 0;
        height: 50rem;
        background-color: rgb(240, 238, 238);
    }

    .box-bar-width{
        width: 10rem;
    }
    
    .email-bar {
        background-color: rgb(230, 228, 228); 
        padding: 5px 0;
        text-align: right;
        border: 1px solid rgb(226, 226, 226);
        justify-content: end;
        border: 1px solid rgb(88, 87, 87);
        border-bottom: none;
        flex-direction: row;
    }
    .email-details-width {
        flex: 1;
    }
    .email-app {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        height: 50rem;
        width: 90%;
        padding: 20px;
    }

    .box-element {
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgb(88, 87, 87);
    }

    .email-bar-width {
        width: 36vw;
        min-width: 250px;
    }
    .email-list {
        border-right: 1px solid rgb(88, 87, 87);
        width: 35vw;
    }

    .email-list li{
        box-sizing: content-box;
        height: 5rem;
        list-style-type: none;
        border-bottom: 1px solid rgb(88, 87, 87);
        text-align: left;
        margin: 0;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
    }
    .email-preview li {
        height: 3rem;
        margin: 0;
        background-color: rgb(197, 197, 197);
        border-bottom: 1px solid rgb(88, 87, 87);
    }
    .compose-info {
        flex-direction: row;
        justify-content: center;
        margin: 5px auto;
        width: 34vw;
    }
    .empty-list {
        width: 35; 
    }

}
